#circle{
    width: 30px;
    height: 25px;
}.verified{
    background-color: hsl(0, 18%, 3%);
    text-align: center;
    color: aliceblue;
}#pinty{
    width: 80px;
    height: 80px;
}.Email{
    display: flex;
    gap: 20px;
    padding: 20px;
}#calling{
    width: 80px;
    height: 80px;
}.photo{
    display: flex;
    gap: 20px;
    padding: 20px;
}.telephone{
    display: flex;
    gap: 1020px;
}.about{
display: flex;
gap: 200px;

}.moving{
    position: relative;
    text-align: center;
    color: white;
}.strive{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight: 60px;

}#uploads{
    width: 2000px;
    height: 1000px;
}#movingservices{
    width: 500px;
    height: 400px;
}#movingpng{
    width: 500px;
    height: 400px;
}.elit{
    display: flex;
    gap: 25px;
}.services{
    display: flex;
    gap: 40px;
    margin-left: 10%;
}.logoipsum{
    display: flex;
    gap: 20px;
}.our{
    margin-left: 40%;
}#freepik{
width: 200px;
height: 200px;
}.packing{
    background-color: white;
    width: 300px;
    padding: 40px;
}.phase{
    background-color: blue;
    width: 300px;
    padding: 40px;
}#premium{
    width: 200px;
    height: 200px;
}.Transport{
    background-color: white;
    width: 300px;
    padding: 40px; 
}.fqa{
    width: 200px;
    height: 200px;  
}.stza{
    background-color: white;
    width: 300px;
    padding: 40px;    
}.read{
    display: flex;
    padding: 100px;
    gap: 1px;
}.video{
    display: flex;
    gap: 25px;
}.check{
    display: flex;
    gap: 400px;
    margin-left: 200px;
}#ratgeber{
    width: 500px;
    height: 600px;
}#library{
    width: 50px;
    height: 50px;
}.homegate{
    display: flex;
    gap: 30px;
    margin-left: 50px;
}.aliquet{
    display: flex;
    gap: 80px;
    margin-left:400px;
}.hesitate{
    margin-left: 650px;
}a{
    text-decoration: none;
    color: orange;
}#JBB{
    width: 1600px;
    height: 1000px;
}.usnow{
    margin-left: 150px;
}.refreshing{
    display: flex;
    gap: 100px;
}.rose{
    margin-left: 260px;
}.add{
    display: flex;
    gap: 500px;
}.updat{
    margin-left: 500px;
}#gstatic{
    width: 500px;
    height: 650px;
}.evolved{
    position: relative;
    text-align: center;
    color: white;
}
button {
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 100%;
    background-color: orange;
    
}.today{
  display: flex;
  gap: 0px;
  margin-left: 80px;
}.mvn{
    background-color: orange;
    width: 1000px;
    height: 400px;
    text-align: end;
    padding: 20px;
}.action{
    background-color: rgb(0, 26, 255);
    width: 1000px;
    height: 400px;
    padding: 20px;
}body{
    overflow-x: hidden;
    body
}
